api:
  dashboard: false
core:
  defaultRuleSyntax: v3
entryPoints:
{% if pihole_external_dns %}
  dns-tcp:
    address: :53/tcp
    proxyProtocol:
      trustedIPs:
        - 127.0.0.1
        - 172.20.0.0/24
  dns-udp:
    address: :53/udp
{% endif %}
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: web-secure
          scheme: https
  web-secure:
    address: :443
{% if wireguard_enabled %}
  wg-udp:
    address: :51820/udp
{% endif %}
global:
  checkNewVersion: true
  sendAnonymousUsage: false
log:
  level: INFO
ping: {}
providers:
  providersThrottleDuration: 2s
  docker:
    defaultRule:
{%- raw %} 
      "Host(`{{ index .Labels \"com.docker.compose.service\"}}\
      .{{ env \"DOMAIN\" }}`)"
{%- endraw %}  
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: dns
    watch: true
serversTransport:
  insecureSkipVerify: true
